:root {
  --steel-blue: #1779f4;
  --white: white;
  --black: black;
  --transparent: rgba(255, 255, 255, 0);
  --light-grey: rgba(214, 214, 214, .5);
  --light-black: #333;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.noise {
  z-index: auto;
  width: 100%;
  opacity: .12;
  background-color: #000;
  background-image: url('../images/5c06f51d6e75c933fe05c728_giphy.gif');
  background-size: 256px;
  justify-content: center;
  align-items: center;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.page {
  overflow: hidden;
}

.project {
  z-index: 2;
  width: 66%;
  height: 90vh;
  perspective: 3500px;
  perspective-origin: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
  transform: perspective(3500px);
}

.btn {
  z-index: 4;
  color: #fff;
  letter-spacing: 6px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 33%;
  left: auto;
  right: 24%;
}

.btn-line {
  width: 56px;
  height: 2px;
  background-color: #fff;
  margin-right: 24px;
}

.heading-h1 {
  z-index: 10;
  width: 100%;
  perspective: 2000px;
  color: #fff;
  letter-spacing: .2vw;
  text-transform: uppercase;
  flex: none;
  margin-top: 30vh;
  margin-bottom: 0;
  margin-left: 16vw;
  font-size: 7vw;
  line-height: 10vw;
  position: relative;
  transform: perspective(2000px);
}

.heading-h1.solid {
  z-index: 1;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.heading-h1.outline {
  z-index: 3;
  color: rgba(255, 255, 255, .41);
  font-weight: 700;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.project-container {
  width: 100%;
  perspective: 3500px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 33vh;
  margin-bottom: 33vh;
  display: flex;
  position: relative;
  transform: perspective(3500px);
}

.img {
  max-width: none;
  min-height: 100%;
  min-width: 100%;
  object-fit: contain;
  position: relative;
}

.body {
  background-color: #0f0f0f;
}

.services {
  z-index: auto;
  background-color: #000;
  display: none;
  position: relative;
}

.navbar-cta-btn {
  background-color: var(--steel-blue);
  color: var(--white);
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 60px;
  padding: 16px 44px 15px;
  font-weight: 500;
  line-height: 18px;
  transition: all .3s;
}

.navbar-cta-btn:hover {
  opacity: .8;
}

.nav-menu {
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-wrapper {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-dropdonw-link {
  width: 100%;
  color: #050505;
  background-color: #fff;
  padding: 28px;
  font-size: 13px;
  line-height: 14px;
  text-decoration: none;
  transition: all .2s;
}

.nav-dropdonw-link:hover {
  background-color: #f6f6f6;
}

.nav-dropdonw-link.w--current {
  color: #00df9a;
  background-color: #f6f6f6;
  transition: all .3s;
}

.nav-link-title {
  margin-bottom: 4px;
  font-size: 15px;
  font-weight: 500;
  line-height: 17px;
}

.header {
  z-index: 100;
  width: 100%;
  color: #333;
  background-color: rgba(5, 5, 5, 0);
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
}

.container.navbar-container {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  position: static;
}

.menu-dropdown {
  color: #fff;
  text-align: center;
  cursor: default;
  padding: 16px 0;
  line-height: 18px;
  transition: all .3s;
}

.menu-dropdown:hover, .menu-dropdown.w--open:hover {
  opacity: .6;
}

.dropdown-list.w--open {
  min-width: 300px;
  opacity: 1;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 36px #000;
}

.nav-dropdown {
  z-index: 900;
  color: #fff;
  margin-left: 30px;
  margin-right: 30px;
}

.navbar {
  width: 100%;
  height: 12vh;
  color: #333;
  background-color: rgba(0, 0, 0, 0);
  justify-content: space-between;
  align-items: center;
  transition: all .3s;
  display: block;
}

.text-black {
  color: #050505;
}

.nav-dropdown-link-title {
  margin-bottom: 4px;
  font-size: 15px;
  font-weight: 500;
}

.spacer-header {
  height: 12vh;
}

.pipe-slider {
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding-bottom: 80px;
  overflow: hidden;
}

.testimonial-carousel-wrapper {
  height: 100%;
  margin-bottom: 100px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.testimonial-carousel-wrapper.d-none {
  display: none;
}

.testimonial-text {
  color: var(--white);
  margin-bottom: 32px;
  font-size: 15px;
  line-height: 20px;
}

.object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.pipe-slider-main {
  position: relative;
}

.testimonial-author-inner {
  align-items: center;
  font-size: 15px;
  line-height: 19px;
  display: flex;
}

.testimonial-card {
  width: 100%;
  min-height: 310px;
  background-color: #181818;
  border: 1px solid rgba(8, 72, 114, .05);
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px 30px;
  display: flex;
  position: relative;
  box-shadow: 0 6px 15px rgba(5, 5, 5, .5);
}

.author-title {
  color: var(--white);
  font-weight: 500;
}

.testimonial-author-img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 16px;
  position: relative;
}

.arrow-left {
  width: 40px;
  height: 40px;
  background-color: #181818;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
  padding: 1px 6px;
  transition: all .2s;
  display: flex;
  top: auto;
  bottom: 0;
  left: 50%;
  right: auto;
  transform: translate(-50%);
}

.arrow-left:hover {
  background-color: #333;
}

.arrow-right {
  z-index: 99;
  width: 40px;
  height: 40px;
  background-color: #181818;
  border-radius: 50%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: -30px;
  padding: 1px 6px;
  transition: all .2s;
  display: flex;
  top: auto;
  bottom: 0;
  left: auto;
  right: 50%;
  transform: translate(50%);
}

.arrow-right:hover {
  background-color: #333;
}

.mask-wrapper {
  width: 100%;
  height: 100%;
  max-width: 25%;
  padding-bottom: 40px;
  overflow: visible;
}

.arrow {
  display: none;
  position: -webkit-sticky;
  position: sticky;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.testimonial-author-wrapper {
  min-height: 56px;
}

.author-name {
  color: var(--white);
}

.pipe-mask {
  width: 100%;
  height: 100%;
  max-width: 33.33%;
  overflow: visible;
}

.logo-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testimonial-section {
  background-color: #000;
  padding-top: 90px;
  padding-bottom: 140px;
  overflow: hidden;
}

.testimonial-section-header {
  width: 100%;
  max-width: 600px;
  color: var(--white);
  margin-bottom: 90px;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.1;
}

.owl-item-slide {
  height: 100%;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-col {
  flex-direction: column;
  margin-right: 100px;
  display: flex;
}

.footer-col.mr0 {
  margin-right: 0;
}

.footer-heading {
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}

.footer-legal-link {
  color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  margin-left: 20px;
  text-decoration: none;
  transition: border .2s;
}

.footer-legal-link:hover {
  border-bottom-color: #fff;
}

.footer-baner {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
  display: flex;
}

.social-wrapper {
  justify-content: flex-end;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
}

.footer {
  background-color: #050505;
  padding-top: 86px;
  padding-bottom: 32px;
}

.footer-brand {
  width: 100%;
  max-width: 107px;
  margin-bottom: 20px;
}

.footer-copyright {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 18px;
}

.social-link {
  margin-left: 10px;
  margin-right: 10px;
  transition: opacity .2s;
}

.social-link:hover {
  opacity: .6;
}

.footer-lline {
  letter-spacing: 1.5px;
  font-size: 14px;
}

.footer-grid {
  justify-content: space-between;
  display: flex;
}

.footer-bottom-wrapper {
  border-top: 1px solid rgba(255, 255, 255, .1);
  flex-wrap: wrap;
  margin-top: 70px;
  padding-top: 30px;
  display: flex;
}

.footer-nav-link {
  color: #fff;
  letter-spacing: .7px;
  margin-bottom: 20px;
  font-size: 14px;
  text-decoration: none;
  transition: opacity .2s;
}

.footer-nav-link:hover {
  opacity: .7;
}

.links-wrapper {
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  display: flex;
}

.footer-legal {
  color: rgba(255, 255, 255, .38);
  margin-bottom: 0;
  font-size: 12px;
  line-height: 14px;
}

.footer-nav {
  width: 100%;
  max-width: 100%;
  justify-content: flex-end;
  margin-left: 60px;
  display: flex;
}

.scroll-fade-section {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: none;
}

.project-heading {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.background-holder {
  z-index: 0;
  border: 1px solid rgba(0, 0, 0, 0);
  display: block;
  position: relative;
}

.collection-list-wrapper {
  width: auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.content {
  z-index: 1;
  position: relative;
}

.project-heading-wrapper-left {
  z-index: 9;
  opacity: 1;
  color: #fff;
  letter-spacing: 10px;
  justify-content: center;
  align-items: center;
  font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, sans-serif;
  font-size: 5.2rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.collection-item {
  margin-top: 99px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.skewelem {
  width: auto;
  text-align: center;
  justify-content: flex-end;
  font-size: 1440px;
  display: flex;
}

.background-2 {
  background-color: var(--steel-blue);
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.section-2 {
  height: 500px;
  background-color: rgba(0, 0, 0, 0);
  display: none;
}

.progress-bar-box {
  justify-content: center;
  display: flex;
}

.heading-60px {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Exo, sans-serif;
  font-size: 3.7vw;
  font-weight: 800;
  line-height: 1.1;
}

.stage-title-holder {
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
}

.timeline-path {
  z-index: -2;
  width: .2vw;
  height: 100%;
  background-color: #1b1a17;
  position: absolute;
  left: 35.2vw;
}

.timeline-right-box {
  padding-top: 11vw;
  padding-left: 1.5vw;
}

.stage-tag {
  color: #fff;
  font-size: 2.86vw;
  font-weight: 400;
  line-height: 1;
}

.timeline-section-3 {
  z-index: -3;
  background-color: #312f2a;
  padding-bottom: 3vw;
  display: block;
  position: relative;
}

.timeline-main-grid {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 30.2541vw 10.0847vw 45.3812vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.negation-highlight {
  color: rgba(214, 214, 214, .5);
}

.heading-35px {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Exo, sans-serif;
  font-size: 2.5vw;
  font-weight: 500;
  line-height: 1.2;
}

.heading-35px.right-title {
  width: 18ch;
  margin-bottom: 2.85vw;
}

.timeline-circle {
  width: 1.5vw;
  height: 1.5vw;
  background-color: var(--white);
  border-radius: 100%;
}

.timeline-progress-bar {
  z-index: -1;
  width: .2vw;
  height: 50vh;
  background-image: linear-gradient(to bottom, var(--steel-blue), white);
  padding-bottom: 0;
  padding-right: 0;
  position: fixed;
  bottom: 50vh;
  box-shadow: 0 0 6px .05vw rgba(0, 0, 0, .7);
}

.timeline-container-3 {
  z-index: 1;
  margin-left: 7.14vw;
  margin-right: 7.14vw;
  display: block;
  position: relative;
}

.stage-image {
  width: 35.71vw;
  height: 39.28vw;
  object-fit: cover;
  margin-top: 4.29vw;
  box-shadow: 14px 14px 5vw 1vw #000;
}

.timeline-wrapper {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: static;
}

.paragraph-20px {
  font-size: 1.43vw;
}

.paragraph-20px.right-text {
  width: 45ch;
  line-height: 30px;
}

.timeline-section {
  z-index: -3;
  background-color: var(--black);
  margin-top: 0;
  padding-bottom: 0;
  position: relative;
}

.timeline-container {
  z-index: 1;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
}

.timeline-container-4 {
  margin-left: 7.14vw;
  margin-right: 7.14vw;
}

.timeline-container-5 {
  z-index: 1;
  margin-left: 7.14vw;
  margin-right: 7.14vw;
  position: static;
}

.heading {
  z-index: 2;
  background-color: var(--transparent);
  color: var(--white);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  font-family: Exo, sans-serif;
  font-size: 60px;
  position: relative;
}

.section-3 {
  background-color: #0f0f0f;
}

.heading-2 {
  color: var(--white);
  background-color: #0f0f0f;
  font-family: Exo, sans-serif;
}

.timeline-heading {
  background-color: #0f0f0f;
}

.heading-45px {
  color: var(--white);
  font-size: 45px;
}

.heading-50px {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Exo, sans-serif;
  font-size: 4.29vw;
  font-weight: 800;
  line-height: 1.1;
}

.text-span, .text-span-2 {
  color: var(--light-grey);
}

.tabs-wrapper {
  padding-top: 0;
}

.services-section.overflow-hidden {
  height: 115vh;
  background-color: var(--black);
  margin-bottom: 0;
  padding-top: 100px;
  padding-bottom: 220px;
  position: relative;
  overflow: visible;
}

.stacked-tabs-holder {
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  padding-left: 40px;
  display: flex;
}

.stacked-tab-holder {
  width: 100%;
}

.stacked-tab-holder._03 {
  z-index: 2;
  opacity: .3;
  position: absolute;
  transform: scale(.8)translate(167px);
}

.stacked-tab-holder._01 {
  z-index: 4;
  position: relative;
}

.stacked-tab-holder._02 {
  z-index: 3;
  opacity: .7;
  position: absolute;
  transform: scale(.9)translate(76px);
}

.stacked-tabs-content-holder {
  width: 100%;
  align-items: center;
  display: flex;
  position: relative;
}

.grid-8-col {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.tab-circle {
  width: 70px;
  height: 70px;
  min-height: 70px;
  min-width: 70px;
  background-color: #fff;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 6px 6px 26px rgba(101, 101, 101, .26), inset -6px -6px 15px rgba(121, 120, 120, .1);
}

.grey-paragraph {
  color: #7f8090;
}

.container-2 {
  max-width: 1170px;
  margin-left: 0;
  margin-right: auto;
  padding: 0;
  display: none;
}

.center-text {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.link:hover {
  color: #646464;
}

.tab-icon {
  width: 24px;
  height: 24px;
}

.fade-in-move-on-scroll {
  z-index: 6;
  margin-bottom: 100px;
  position: relative;
}

.stacked-tabs-pane-holder {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.tab-link {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(75, 148, 255, 0);
  border-radius: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 24px 50px 24px 24px;
}

.tab-link:hover {
  color: #000;
  border-color: #e4e4e4;
}

.tab-link.w--current {
  background-color: #fff;
  border-color: #4b94ff;
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, .05), 0 2px 5px rgba(61, 92, 255, .1);
}

.stacked-gradient {
  z-index: 9;
  width: 70vw;
  height: 120%;
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 13%, #fbfbfb 23%);
  position: absolute;
  left: -50vw;
  right: auto;
}

.stacked-tab-image {
  width: 100%;
  border: .7px solid #e8eaed;
  border-radius: 12px;
  box-shadow: 6px 6px 41px rgba(86, 86, 86, .15);
}

.tab-title {
  font-size: 24px;
}

.tab-paragraph {
  color: #808292;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.tab-wrapper {
  grid-column-gap: 30px;
  align-items: center;
  display: flex;
}

.mobile-link {
  display: none;
}

.stacked-tabs-container {
  z-index: 10;
  width: 520px;
  min-width: 520px;
  background-color: #fbfbfb;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.tab-content-holder {
  grid-row-gap: 10px;
  flex-direction: column;
  display: flex;
}

.heading-3 {
  color: var(--white);
}

.text-container {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  position: relative;
  overflow: hidden;
}

.subhead-highlight {
  flex: none;
  position: relative;
}

.section-4 {
  width: 100%;
  height: 100%;
  background-color: #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.section-4.white-background {
  z-index: 10;
  background-color: #fff;
}

.subhead {
  color: #34c674;
  text-transform: uppercase;
}

.highlight-small {
  width: 0%;
  height: 100%;
  background-color: #34c674;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.highlight-black {
  width: 0%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.lil-rule {
  width: 100px;
  height: 2px;
  background-color: #34c674;
  flex: none;
  margin-right: 10px;
}

.h1 {
  width: 600px;
  float: left;
  color: #fff;
  text-align: left;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 92px;
  font-weight: 700;
  line-height: 100%;
  display: inline;
}

.h1.black-text {
  color: #000;
}

.content-2 {
  width: 600px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.subhead-container {
  width: auto;
  height: auto;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.hero-section {
  height: 100vh;
  background-color: var(--black);
  color: #333;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: relative;
  overflow: visible;
}

.lottie-animation {
  width: 800px;
  justify-content: center;
  align-items: center;
  display: block;
}

.hero-heading {
  color: var(--white);
  text-transform: uppercase;
  text-shadow: 0 1px 20px var(--steel-blue);
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Exo, sans-serif;
  font-size: 65px;
  line-height: 80px;
  display: block;
}

.stars {
  z-index: 5;
  width: 100%;
  height: 100vh;
  font-family: PT Serif, serif;
  display: block;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.hero-container {
  z-index: 10;
  width: 100%;
  height: 100%;
  aspect-ratio: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: visible;
}

.hero-color-left {
  width: 50%;
  height: 100%;
  background-image: radial-gradient(circle farthest-corner at 0% 0%, var(--steel-blue), var(--black) 50%, var(--black));
  display: none;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.hero-color-right {
  width: 50%;
  height: 100%;
  background-color: var(--steel-blue);
  background-image: radial-gradient(circle farthest-corner at 100% 100%, var(--steel-blue), var(--black) 50%);
  display: none;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.image {
  z-index: 6;
  width: 700px;
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

.hero-heading-left {
  z-index: 2;
  color: var(--white);
  text-align: left;
  text-transform: uppercase;
  margin-top: 350px;
  margin-left: 100px;
  font-family: Exo, sans-serif;
  font-size: 70px;
  line-height: 80px;
  position: relative;
}

.hero-heading-right {
  color: var(--white);
  text-align: center;
  margin-top: 220px;
  margin-left: 0;
  margin-right: 0;
  font-size: 100px;
}

.container-image {
  width: 100%;
  justify-content: center;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.lottie-animation-2 {
  width: 300px;
}

.text-span-3 {
  color: var(--steel-blue);
}

.background-video {
  z-index: 0;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}

.text-span-5 {
  color: var(--steel-blue);
}

.hero-text-container {
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.hero-text {
  color: var(--white);
  text-transform: uppercase;
  margin-top: 10px;
  font-family: Exo, sans-serif;
  font-size: 30px;
}

.neon-button {
  border: 4px solid var(--steel-blue);
  box-shadow: inset 0 0 .5em 0 var(--steel-blue), 0 0 .5em 0 var(--steel-blue);
  perspective-origin: 50%;
  color: var(--steel-blue);
  text-transform: uppercase;
  text-shadow: 0 0 .125em rgba(255, 255, 255, .5), 0 0 .5em var(--steel-blue);
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: .5em 1em;
  font-family: Exo, sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  transition: box-shadow .2s, background-color .2s;
  display: flex;
  position: relative;
  transform: none;
}

.neon-button:hover {
  z-index: 5;
  background-color: var(--steel-blue);
  box-shadow: inset 0 0 .5em 0 var(--steel-blue), 0 0 2em 0 var(--steel-blue);
  color: #292026;
}

.text-block-2 {
  color: var(--white);
  text-shadow: 0 0 .5em var(--steel-blue);
  font-weight: 600;
  text-decoration: none;
}

.bottom-shadow {
  width: 100%;
  height: 100%;
  background-color: var(--steel-blue);
  opacity: .7;
  filter: blur(1em);
  text-shadow: 0 0 .125em rgba(255, 255, 255, .5), 0 0 .5em var(--steel-blue);
  cursor: default;
  transform-style: preserve-3d;
  position: absolute;
  top: 150%;
  bottom: auto;
  left: auto;
  right: auto;
  transform: perspective(3em)rotateX(40deg)rotateY(0)rotateZ(0)perspective(500px);
}

.hero-animated-background-1 {
  width: 50%;
  height: 50%;
  border: 1px solid var(--steel-blue);
  background-color: var(--steel-blue);
  filter: blur(250px);
  border-radius: 50%;
  display: none;
  position: absolute;
  top: -25%;
  bottom: auto;
  left: -25%;
  right: auto;
}

.hero-animated-background-2 {
  width: 50%;
  height: 50%;
  border: 1px solid var(--steel-blue);
  background-color: var(--steel-blue);
  filter: blur(250px);
  border-radius: 50%;
  display: none;
  position: absolute;
  top: auto;
  bottom: -25%;
  left: auto;
  right: -25%;
}

.hero-animated-background-3 {
  width: 50%;
  height: 50%;
  border: 1px solid var(--steel-blue);
  background-color: var(--steel-blue);
  filter: blur(250px);
  border-radius: 50%;
  display: block;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

.page-load {
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: var(--transparent);
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-2 {
  width: 100%;
  height: 143.932%;
  max-width: none;
}

.checkbox-field {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  position: absolute;
  top: auto;
  bottom: -30%;
  left: 0%;
  right: 0%;
}

.social {
  justify-content: center;
  align-items: center;
  padding-bottom: .7em;
  display: flex;
}

.link-block-3 {
  color: #fff;
  padding-top: 0;
  text-decoration: none;
}

.checkbox-label {
  color: #fff;
  margin-bottom: 0;
  padding-left: 2em;
  font-size: 16px;
  font-weight: 300;
  display: none;
}

.checkbox-label.open {
  font-weight: 400;
  display: block;
}

.span-text.footer-2 {
  font-weight: 300;
}

.grid {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  position: relative;
}

.grid.is--footer {
  z-index: 3;
}

.grid.is--final-coypright {
  z-index: 1;
  align-items: center;
  padding-top: 7em;
}

.text-block-6 {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5;
}

.grid_item {
  z-index: 1;
  width: 100%;
  padding: 1.04em;
  display: block;
  position: relative;
}

.grid_item.footer-text-mobile {
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5em;
  display: none;
}

.grid_item.footer-social {
  width: 20%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: .5em;
  padding-bottom: .5em;
  display: flex;
}

.grid_item.footer-text {
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5em;
  display: flex;
}

.grid_item.footer-social-mobile {
  width: 20%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: .5em;
  padding-bottom: .5em;
  display: none;
}

.grid_item.footer-logo {
  width: 20%;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 1.04em;
  display: flex;
}

.grid_item.is--50 {
  width: 50%;
  justify-content: center;
  display: flex;
  position: relative;
}

.grid_item.is--50.footer-2 {
  width: 40%;
  white-space: nowrap;
  justify-content: center;
  align-items: flex-end;
}

.grid_item.is--50.footer-1 {
  width: 60%;
  justify-content: flex-start;
}

.image-footer {
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  object-fit: fill;
  display: inline-block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.logo-footer {
  width: 13em;
}

.contact-section {
  z-index: 10;
  max-width: 100%;
  background-color: #fff;
  position: relative;
}

.contact-section.is--footer {
  z-index: 1;
  background-color: #00000b;
  position: relative;
  bottom: 0;
  overflow: visible;
}

.text-span-15 {
  font-weight: 500;
}

.text-span-16 {
  text-transform: uppercase;
  font-weight: 400;
}

.is--white {
  color: #fff;
}

.is--white.is--69px {
  white-space: nowrap;
  flex-direction: column;
  font-size: 69px;
  line-height: 1.4;
  display: flex;
}

.social-icons {
  width: 2.5em;
  padding-right: 1em;
}

.contact-form-grid {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 40px;
  display: grid;
}

.line-terms {
  height: 1px;
  background-color: #fff;
}

.footer-terms {
  color: #fff;
  letter-spacing: .5px;
  font-size: 13px;
  font-weight: 300;
}

.find-us {
  color: #fff;
  letter-spacing: .5px;
  padding-bottom: 1em;
  font-size: 13px;
  font-weight: 300;
}

.text-field {
  background-color: rgba(255, 255, 255, 0);
  border: 1px #000;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 0;
  padding: 1.5em 0;
}

.text-field:active {
  color: #fff;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 300;
  transform: translate(0);
}

.text-field:focus {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

.text-field::-ms-input-placeholder {
  color: #fff;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 300;
}

.text-field::placeholder {
  color: #fff;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 300;
}

.contact-text-wrapper {
  padding-top: 1em;
  padding-bottom: 1em;
}

.div-block-12 {
  padding-bottom: 10em;
  position: relative;
}

.checkbox {
  width: 25px;
  height: 25px;
  margin-top: 0;
  margin-left: 0;
}

.checkbox.w--redirected-checked {
  background-color: #5581da;
}

.gradient-top {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #00000b, rgba(0, 0, 11, .3) 50%, #00000b);
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.form-block {
  position: relative;
}

.container-3 {
  z-index: 1;
  width: 1560px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15em 6.25em;
}

.container-3.footer {
  padding: 4em 12em 0;
}

.submit-button {
  z-index: 10;
  width: 260px;
  height: 42px;
  background-color: var(--steel-blue);
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  top: auto;
  bottom: -30%;
  left: auto;
  right: 0%;
}

.footer-terms-span {
  color: #fff;
  text-decoration: none;
}

.text-span-8 {
  border-bottom: 1px solid #f8f8f8;
}

.paragraph {
  width: 16.5em;
  color: #fff;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

.instructions-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  margin-top: auto;
  margin-left: -20px;
  display: none;
  position: absolute;
  top: -100px;
  bottom: auto;
  left: auto;
  right: auto;
}

.d-133-card-wrapper {
  border: 0px solid var(--steel-blue);
  box-shadow: 3px 3px 5px 0 var(--black);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.d-133-card-wrapper:hover {
  box-shadow: none;
}

.d-133-border {
  border: 0px solid var(--steel-blue);
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.browser-dot {
  width: 10px;
  height: 10px;
  background-color: #fc615d;
  border-radius: 50%;
  margin-left: 3px;
  margin-right: 3px;
}

.browser-dot.yellow {
  background-color: #fdbc40;
}

.browser-dot.green {
  background-color: #35cc4b;
}

.demo-p.arrow {
  text-align: left;
  margin-bottom: 10px;
  font-size: 19px;
  position: static;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.d-133-3d-wrapper {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.d-133-text-wrapper {
  padding: 10px;
  position: relative;
}

.browser-demo {
  z-index: auto;
  width: 900px;
  height: 500px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: center;
  align-items: center;
  display: none;
  position: relative;
  overflow: hidden;
}

.d-133-h3-heading {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 1px 1px #000;
  font-family: Exo, sans-serif;
  font-size: 21px;
  font-weight: 700;
}

.d-133-paragraph {
  color: #fff;
  text-shadow: 1px 1px #000;
}

.browser-top {
  z-index: 1;
  height: 30px;
  background-color: #e2e2e2;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  align-items: center;
  padding-left: 15px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.demo-wrapper {
  z-index: 6;
  width: auto;
  flex-flow: row-reverse;
  flex: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  display: none;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: auto;
}

.d-133-color-overlay {
  background-color: rgba(0, 0, 0, .6);
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.d-133-image-wrapper {
  width: 200%;
  height: 200%;
  background-image: url('../images/alexander-slattery-311438-unsplash.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: auto;
}

.d-133-image-wrapper._2 {
  width: 100%;
  height: 100%;
  background-image: url('../images/OrgCoral_Ofc-01_Concept-06.jpg');
  background-size: cover;
  border-radius: 10px;
}

.d-133-image-wrapper._3 {
  width: 100%;
  height: 100%;
  background-image: url('../images/nathan-dumlao-kLmt1mpGJVg-unsplash-min.jpg');
  background-position: -90% 25%;
  background-size: cover;
  border-radius: 10px;
}

.d-133-image-wrapper._1 {
  width: 100%;
  height: 100%;
  background-image: url('../images/carlos-muza-hpjSkU2UYSU-unsplash.jpg');
  background-position: 10%;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.d-133-image-wrapper._1:hover {
  box-shadow: none;
}

.image-3 {
  margin-top: 0;
  margin-right: 0;
  position: relative;
}

.bottom-shadow-services {
  width: 100%;
  height: 100%;
  background-color: var(--steel-blue);
  opacity: .7;
  filter: blur(1em);
  cursor: default;
  transform-style: preserve-3d;
  position: absolute;
  top: 65%;
  bottom: auto;
  left: auto;
  right: auto;
  transform: perspective(3em)rotateX(40deg)rotateY(0)rotateZ(0)perspective(500px);
}

.service-item {
  width: 300px;
  height: 400px;
  border: 4px solid var(--steel-blue);
  box-shadow: inset 0 0 .5em 0 var(--steel-blue), 0 0 .5em 0 var(--steel-blue);
  perspective-origin: 50%;
  color: var(--steel-blue);
  text-transform: uppercase;
  text-shadow: 0 0 .125em rgba(255, 255, 255, .5), 0 0 .5em var(--steel-blue);
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: .5em 1em;
  font-family: Exo, sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  transition: box-shadow .2s, background-color .2s;
  display: flex;
  position: relative;
  transform: none;
}

.service-item:hover {
  z-index: 5;
  background-color: var(--steel-blue);
  box-shadow: inset 0 0 .5em 0 var(--steel-blue), 0 0 2em 0 var(--steel-blue);
  color: #292026;
}

.neon-shadow-service {
  width: 100%;
  height: 50px;
  background-color: var(--steel-blue);
  opacity: .7;
  filter: blur(2em);
  transform-style: preserve-3d;
  position: absolute;
  top: 112%;
  transform: scale3d(1, 1, 4)rotateX(90deg)rotateY(0)rotateZ(0);
}

.section-5 {
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  position: relative;
  overflow: visible;
}

.spline-scene {
  width: auto;
  height: auto;
  padding-left: 0;
  position: static;
  top: -20vh;
}

.spline-scene-2 {
  width: 135%;
  height: 110%;
}

.section-6 {
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  display: none;
  position: relative;
  overflow: hidden;
}

.lottie-animation-3 {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.lottie-animation-4 {
  z-index: 1;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.spline-scene-3 {
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  top: auto;
  bottom: -40%;
  left: auto;
  right: -40%;
  overflow: hidden;
}

.spline-wrapper {
  display: block;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .navbar {
    display: block;
  }

  .hero-section {
    max-height: 100vh;
  }

  .image {
    left: auto;
  }

  .page-load {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .container.navbar-container {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    display: flex;
  }

  .navbar {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: block;
  }

  .container-2 {
    max-width: 1350px;
  }

  .mobile-link {
    display: none;
  }

  .image {
    left: auto;
  }

  .d-133-3d-wrapper {
    width: 450px;
    height: 550px;
  }

  .d-133-h3-heading {
    font-family: Exo, sans-serif;
  }

  .d-133-color-overlay {
    background-color: rgba(0, 0, 0, .26);
    display: none;
  }
}

@media screen and (min-width: 1920px) {
  .container.navbar-container {
    height: 100%;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0 100px;
    display: flex;
  }

  .navbar {
    height: 12vh;
    display: block;
  }

  .paragraph-20px.right-text {
    line-height: 30px;
  }

  .hero-heading {
    text-transform: uppercase;
    display: block;
  }

  .hero-container {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .hero-color-left, .hero-color-right {
    display: none;
  }

  .image {
    left: auto;
  }

  .background-video {
    display: none;
  }

  .text-span-4 {
    color: var(--steel-blue);
  }

  .heading-4 {
    font-family: Exo, sans-serif;
    font-size: 80px;
  }

  .text-span-5 {
    color: var(--steel-blue);
  }

  .hero-text-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .hero-text {
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: Exo, sans-serif;
    font-size: 30px;
  }

  .button {
    margin-top: 40px;
  }

  .neon-button {
    border-color: var(--steel-blue);
    box-shadow: inset 0 0 .5em 0 var(--steel-blue), 0 0 .5em 0 var(--steel-blue);
    color: var(--white);
    text-shadow: 0 0 .125em rgba(255, 255, 255, .5), 0 0 .5em var(--steel-blue);
    margin-top: 40px;
  }

  .neon-button:hover {
    background-color: var(--steel-blue);
    box-shadow: inset 0 0 .5em 0 var(--steel-blue), 0 0 2em 0 var(--steel-blue);
    text-shadow: 0 0 .125em rgba(255, 255, 255, .5), 0 0 .5em var(--steel-blue);
  }

  .hero-animated-background-1 {
    width: 50%;
    height: 50%;
    border: 1px solid var(--steel-blue);
    background-color: var(--steel-blue);
    filter: blur(250px);
    border-radius: 50%;
    position: absolute;
    top: -25%;
    bottom: auto;
    left: -25%;
    right: auto;
  }

  .hero-animated-background-2 {
    width: 50%;
    height: 50%;
    border: 1px solid var(--steel-blue);
    background-color: var(--steel-blue);
    filter: blur(250px);
    border-radius: 50%;
    position: absolute;
    top: auto;
    bottom: -25%;
    left: auto;
    right: -25%;
  }

  .hero-animated-background-3 {
    width: 50%;
    height: 50%;
    border: 1px solid var(--steel-blue);
    background-color: var(--steel-blue);
    filter: blur(250px);
    border-radius: 50%;
    position: absolute;
    top: -25%;
    bottom: auto;
    left: -25%;
    right: auto;
  }

  .page-load {
    display: none;
  }

  .d-133-3d-wrapper {
    width: 450px;
    height: 550px;
  }

  .service-item {
    border-color: var(--steel-blue);
    box-shadow: inset 0 0 .5em 0 var(--steel-blue), 0 0 .5em 0 var(--steel-blue);
    color: var(--white);
    text-shadow: 0 0 .125em rgba(255, 255, 255, .5), 0 0 .5em var(--steel-blue);
    margin-top: 40px;
  }

  .service-item:hover {
    background-color: var(--steel-blue);
    box-shadow: inset 0 0 .5em 0 var(--steel-blue), 0 0 2em 0 var(--steel-blue);
    text-shadow: 0 0 .125em rgba(255, 255, 255, .5), 0 0 .5em var(--steel-blue);
  }
}

@media screen and (max-width: 991px) {
  .project {
    width: 80%;
  }

  .heading-h1 {
    margin-left: 5vw;
  }

  .project-container {
    margin-top: 20vh;
    margin-bottom: 20vh;
  }

  .img {
    object-fit: cover;
  }

  .navbar-cta-btn {
    margin-top: 15px;
    margin-left: 0;
  }

  .top-line {
    width: 18px;
    height: 1px;
    background-color: #fff;
    margin-bottom: 5px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .nav-menu {
    background-color: #050505;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo {
    width: 150px;
    height: 100%;
  }

  .logo.w--current {
    z-index: 2;
    height: 25px;
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .container.navbar-container {
    padding-right: 24px;
  }

  .menu-btn {
    margin-top: auto;
    padding: 0;
  }

  .menu-btn.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .navbar {
    height: 8vh;
  }

  .last-line {
    width: 18px;
    height: 1px;
    color: #fff;
    background-color: #fff;
    margin-bottom: 5px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .middle-line {
    width: 18px;
    height: 1px;
    background-color: #fff;
    margin-bottom: 5px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .spacer-header {
    height: 8vh;
  }

  .testimonial-card {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .mask-wrapper {
    max-width: 50%;
  }

  .testimonial-author-wrapper {
    min-height: 50px;
  }

  .pipe-mask {
    max-width: 50%;
  }

  .testimonial-section {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  .testimonial-section-header {
    margin-bottom: 60px;
    font-size: 40px;
    line-height: 1;
  }

  .footer-col {
    margin-right: 30px;
  }

  .footer-baner {
    margin-bottom: 15px;
  }

  .footer-logo {
    width: 100%;
    max-width: 260px;
  }

  .footer {
    padding-bottom: 50px;
  }

  .footer-nav {
    justify-content: space-between;
    margin-left: 40px;
  }

  .heading-60px {
    font-size: 4.72vw;
  }

  .timeline-path {
    width: .25vw;
  }

  .timeline-right-box {
    padding-top: 12.1vw;
    padding-left: 1.65vw;
  }

  .stage-tag {
    font-size: 3.15vw;
  }

  .timeline-section-3 {
    padding-bottom: 3vw;
  }

  .timeline-main-grid {
    padding-top: 5.5vw;
    padding-bottom: 5.5vw;
  }

  .heading-35px.right-title {
    margin-bottom: 3.13vw;
    font-size: 2.75vw;
  }

  .timeline-circle {
    width: 1.65vw;
    height: 1.65vw;
  }

  .timeline-progress-bar {
    width: .25vw;
  }

  .stage-image {
    width: 39.28vw;
    height: 43.2vw;
    margin-top: 4.72vw;
  }

  .paragraph-20px.right-text {
    font-size: 1.57vw;
  }

  .timeline-section {
    padding-bottom: 3vw;
  }

  .heading-50px {
    font-size: 4.72vw;
  }

  .stacked-tabs-holder {
    grid-row-gap: 40px;
    flex-direction: column;
  }

  .stacked-tabs-content-holder {
    justify-content: flex-start;
  }

  .grid-8-col {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .stacked-tabs-pane-holder {
    width: 80%;
  }

  .stacked-tabs-container {
    width: 100%;
    min-width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  .hero-section {
    height: 100vh;
  }

  .hero-heading {
    text-align: center;
    font-size: 55px;
    line-height: 50px;
  }

  .image {
    left: auto;
  }

  .hero-text {
    font-size: 25px;
  }

  .neon-button {
    margin-top: 20px;
  }

  .grid_item {
    height: 100%;
    display: block;
  }

  .grid_item.footer-text-mobile {
    width: 70%;
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1.04em;
  }

  .grid_item.footer-social {
    width: 30%;
    align-items: flex-start;
    padding-top: 3em;
    padding-bottom: 2em;
    padding-left: 4.04em;
  }

  .grid_item.footer-text {
    width: 70%;
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1.04em;
  }

  .grid_item.footer-social-mobile {
    width: 30%;
    align-items: flex-start;
    padding-top: 3em;
    padding-left: 4.04em;
  }

  .grid_item.footer-logo {
    width: 100%;
    padding-top: 5em;
    padding-bottom: 3em;
  }

  .logo-footer {
    width: 17em;
  }

  .is--white.is--69px {
    font-size: 50px;
  }

  .social-icons {
    width: 3.3em;
  }

  .container-3 {
    padding: 0 3em 10em;
  }

  .submit-button {
    bottom: -63%;
    left: 0%;
    right: auto;
  }

  .instructions-wrapper {
    flex-wrap: nowrap;
    order: -1;
    align-self: auto;
    align-items: center;
    margin-top: 0;
    margin-bottom: 60px;
    margin-left: 0;
    position: relative;
    top: 0%;
    left: -25px;
  }

  .d-133-3d-wrapper {
    margin-bottom: 80px;
  }

  .browser-demo {
    width: 700px;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
  }

  .demo-wrapper {
    flex-direction: column-reverse;
    flex: 0 auto;
    align-items: center;
    margin: 100px 0% 140px 0;
  }

  .image-3 {
    margin-right: 0;
  }

  .service-item {
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .project {
    height: 90vh;
  }

  .project-container {
    margin-top: 15vh;
    margin-bottom: 15vh;
  }

  .pipe-slider {
    padding-bottom: 70px;
  }

  .testimonial-text {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 22px;
  }

  .testimonial-card {
    padding: 40px 15px 15px;
    box-shadow: 0 7px 20px rgba(5, 5, 5, .4);
  }

  .author-title {
    font-size: 13px;
  }

  .testimonial-author-wrapper {
    min-height: auto;
  }

  .pipe-mask {
    max-width: 100%;
  }

  .logo-img {
    width: 50px;
    height: 50px;
  }

  .testimonial-section {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .testimonial-section-header {
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 1.3;
  }

  .owl-item-slide {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-heading {
    margin-bottom: 15px;
  }

  .footer-baner {
    flex-direction: column;
  }

  .footer-logo {
    max-width: 260px;
    margin-bottom: 30px;
  }

  .social-wrapper {
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .legal-link {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-copyright {
    margin-bottom: 16px;
  }

  .footer-grid {
    flex-direction: column;
  }

  .footer-bottom-wrapper {
    margin-top: 10px;
    padding-top: 20px;
  }

  .footer-nav-link {
    margin-bottom: 8px;
  }

  .links-wrapper {
    flex-direction: column;
  }

  .footer-legal {
    text-align: center;
    line-height: 16px;
  }

  .footer-nav {
    margin-left: 0;
  }

  .scroll-fade-section {
    width: 100%;
  }

  .collection-item-3 {
    padding-bottom: 0;
  }

  .collection-item {
    margin-bottom: 0;
    padding-bottom: 50px;
  }

  .skewelem {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .collection-list {
    padding-bottom: 0;
  }

  .grid-8-col {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .tab-link {
    padding-right: 24px;
  }

  .text-container {
    max-width: 100vw;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-4 {
    align-items: flex-start;
  }

  .h1 {
    width: 90vw;
    font-size: 13vw;
  }

  .content-2 {
    width: 100%;
  }

  .subhead-container {
    padding-left: 15px;
  }

  .hero-heading {
    font-size: 40px;
  }

  .image {
    left: auto;
  }

  .hero-text {
    margin-top: 0;
    font-size: 20px;
  }

  .grid.is--final-coypright {
    padding-top: 15em;
  }

  .grid_item.footer-text-mobile {
    width: 100%;
  }

  .grid_item.footer-social {
    width: 50%;
    flex-direction: column;
    padding-left: 1.04em;
  }

  .grid_item.footer-text {
    width: 100%;
  }

  .grid_item.footer-social-mobile {
    flex-direction: column;
    padding-left: 1.04em;
  }

  .grid_item.footer-logo {
    padding-top: 9.7em;
  }

  .grid_item.is--50.footer-2 {
    width: 100%;
    justify-content: flex-end;
  }

  .social-icons {
    width: 4em;
    margin-right: 2em;
    padding-right: 0;
  }

  .instructions-wrapper {
    margin-left: 0;
  }

  .browser-demo {
    width: 400px;
    height: 500px;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 100px;
    margin-left: 110px;
    margin-right: 110px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .demo-wrapper {
    margin-top: 100px;
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 479px) {
  .project {
    width: 80%;
    height: 80vh;
  }

  .heading-h1 {
    margin-top: 20vh;
    margin-left: 24px;
    padding-right: 24px;
    font-size: 12vw;
    line-height: 14vw;
  }

  .top-line {
    margin-top: 5px;
  }

  .menu-dropdown {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menu-btn {
    margin-top: auto;
    margin-bottom: 0;
  }

  .last-line {
    margin-bottom: 0;
  }

  .testimonial-text {
    margin-bottom: 20px;
  }

  .testimonial-section {
    padding-top: 40px;
    padding-bottom: 100px;
  }

  .footer-col {
    margin-bottom: 20px;
  }

  .footer-heading {
    margin-bottom: 15px;
  }

  .footer-legal-link {
    margin-left: 0;
    margin-right: 15px;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .footer-bottom-wrapper {
    margin-top: 0;
    padding-top: 20px;
  }

  .footer-nav-link {
    margin-bottom: 8px;
  }

  .footer-nav-link.w--current {
    margin-bottom: 8px;
    font-size: 12px;
  }

  .footer-nav {
    max-width: 100%;
    flex-direction: column;
  }

  .scroll-fade-section {
    height: 100vh;
  }

  .project-heading {
    width: 50%;
    flex-flow: column wrap;
  }

  .content {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .heading-60px {
    font-size: 9.44vw;
  }

  .stage-title-holder {
    position: static;
  }

  .timeline-path {
    width: .5vw;
    left: 6.5vw;
  }

  .timeline-right-box {
    padding-top: 7vw;
    padding-left: 0;
  }

  .stage-tag {
    font-size: 6.3vw;
  }

  .timeline-section-3 {
    padding-bottom: 7vw;
  }

  .timeline-main-grid {
    grid-template-rows: auto auto;
    grid-template-columns: 13.4286vw 80.5714vw;
    padding-top: 11vw;
    padding-bottom: 11vw;
  }

  .heading-35px.right-title {
    margin-bottom: 6.26vw;
    font-size: 5.5vw;
  }

  .timeline-circle {
    width: 3.3vw;
    height: 3.3vw;
  }

  .timeline-progress-bar {
    width: .5vw;
  }

  .timeline-container-3 {
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .stage-image {
    width: 78.56vw;
    height: 86.4vw;
    margin-top: 9.44vw;
  }

  .paragraph-20px.right-text {
    width: 42ch;
    font-size: 3.14vw;
  }

  .timeline-section {
    padding-bottom: 7vw;
  }

  .timeline-container, .timeline-container-4, .timeline-container-5 {
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .heading {
    padding-left: 10px;
    font-size: 35px;
    line-height: 40px;
  }

  .heading-50px {
    font-size: 9.44vw;
  }

  .stacked-tabs-holder {
    margin-top: 40px;
  }

  .grid-8-col {
    grid-template-columns: 1fr 1fr;
  }

  .tab-circle {
    width: 50px;
    height: 50px;
    min-height: 50px;
    min-width: 50px;
    box-shadow: 6px 6px 15px rgba(101, 101, 101, .26), inset -6px -6px 15px rgba(121, 120, 120, .1);
  }

  .grey-paragraph {
    font-size: 14px;
  }

  .container-2 {
    padding: 1em;
  }

  .tab-icon {
    width: 20px;
    height: 20px;
  }

  .stacked-tabs-pane-holder {
    width: 80%;
  }

  .tab-link {
    padding: 10px;
    position: relative;
  }

  .stacked-gradient {
    display: none;
  }

  .stacked-tab-image {
    border-radius: 8px;
    box-shadow: 6px 6px 8px rgba(86, 86, 86, .15);
  }

  .tab-title {
    font-size: 18px;
  }

  .tab-paragraph {
    font-size: 14px;
  }

  .tab-wrapper {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: row;
    align-items: flex-start;
  }

  .mobile-link {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0;
    display: block;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .lil-rule {
    width: 20px;
  }

  .h1 {
    font-size: 12vw;
  }

  .hero-heading {
    font-size: 35px;
    line-height: 40px;
  }

  .image {
    left: auto;
  }

  .hero-text {
    text-align: center;
    font-size: 15px;
  }

  .checkbox-field {
    bottom: -15%;
  }

  .social {
    justify-content: flex-start;
  }

  .social-footer-link {
    align-items: center;
    display: flex;
  }

  .link-block-3 {
    display: inline-block;
  }

  .social-footer-lin-mobile {
    width: 6em;
    color: #fff;
    align-items: center;
    margin-right: 3em;
    text-decoration: none;
    display: flex;
  }

  .checkbox-label {
    color: #acabab;
    padding-left: .8em;
    font-size: 10px;
    display: none;
  }

  .checkbox-label.open {
    display: block;
  }

  .grid.is--final-coypright {
    padding-top: 30em;
  }

  .text-block-6 {
    font-weight: 300;
  }

  .grid_item.footer-text-mobile {
    padding-top: 5em;
    display: block;
  }

  .grid_item.footer-social, .grid_item.footer-text {
    display: none;
  }

  .grid_item.footer-social-mobile {
    width: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
    display: block;
  }

  .grid_item.footer-logo {
    padding-bottom: 7em;
  }

  .grid_item.is--50.footer-2 {
    width: 100%;
    justify-content: flex-start;
    padding-top: 7em;
    padding-left: 1.04em;
  }

  .grid_item.is--50.footer-1 {
    width: 100%;
  }

  .image-footer {
    object-fit: cover;
  }

  .logo-footer {
    width: 32em;
  }

  .is--white {
    font-size: 9em;
  }

  .is--white.is--69px {
    font-size: 10.4em;
  }

  .social-icons {
    width: 6em;
  }

  .line-terms {
    height: .5px;
  }

  .footer-terms {
    padding-bottom: 2em;
  }

  .checkbox {
    width: 20px;
    height: 20px;
  }

  .container-3.footer {
    padding-top: 15em;
    padding-bottom: 10em;
  }

  .submit-button {
    bottom: -35%;
  }

  .text-span-8 {
    border-bottom-width: .5px;
  }

  .paragraph {
    font-size: 14.5px;
  }

  .instructions-wrapper {
    align-self: auto;
    margin-left: 0;
  }

  .browser-demo {
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .demo-wrapper {
    align-items: center;
    margin-top: 100px;
    margin-right: 0;
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
  }

  .image-3 {
    margin-top: 0;
    margin-right: 0;
  }
}

#w-node-_1552b04c-ee23-5a64-f3dd-311de7a7430d-b4ed6f7e, #w-node-_1552b04c-ee23-5a64-f3dd-311de7a74319-b4ed6f7e, #w-node-_1552b04c-ee23-5a64-f3dd-311de7a7431b-b4ed6f7e, #w-node-_1552b04c-ee23-5a64-f3dd-311de7a74328-b4ed6f7e, #w-node-_1552b04c-ee23-5a64-f3dd-311de7a74332-b4ed6f7e, #w-node-_1552b04c-ee23-5a64-f3dd-311de7a74334-b4ed6f7e, #w-node-_1552b04c-ee23-5a64-f3dd-311de7a74341-b4ed6f7e, #w-node-_1552b04c-ee23-5a64-f3dd-311de7a74349-b4ed6f7e, #w-node-_1552b04c-ee23-5a64-f3dd-311de7a7434b-b4ed6f7e, #w-node-_1552b04c-ee23-5a64-f3dd-311de7a7435b-b4ed6f7e, #w-node-_1552b04c-ee23-5a64-f3dd-311de7a74365-b4ed6f7e, #w-node-_1552b04c-ee23-5a64-f3dd-311de7a74367-b4ed6f7e {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_192af378-a967-02a2-bb49-656116e92d82-b4ed6f7e {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

@media screen and (max-width: 479px) {
  #w-node-_1552b04c-ee23-5a64-f3dd-311de7a74319-b4ed6f7e, #w-node-_1552b04c-ee23-5a64-f3dd-311de7a74332-b4ed6f7e, #w-node-_1552b04c-ee23-5a64-f3dd-311de7a74349-b4ed6f7e, #w-node-_1552b04c-ee23-5a64-f3dd-311de7a74365-b4ed6f7e {
    order: -9999;
    grid-area: span 2 / span 1 / span 2 / span 1;
  }

  #w-node-_192af378-a967-02a2-bb49-656116e92d7a-b4ed6f7e, #w-node-_192af378-a967-02a2-bb49-656116e92d7c-b4ed6f7e, #w-node-_192af378-a967-02a2-bb49-656116e92d7e-b4ed6f7e, #w-node-_192af378-a967-02a2-bb49-656116e92d80-b4ed6f7e {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}


